.flex {
  display: flex;
}

.nav-bar {
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #3896ff;
}

a:focus {
  border-bottom: 3px solid #3895ff56;
}

.ul-nav {
  list-style: none;
  justify-content: space-around;
}

.nav-item {
  margin-left: 20px;
  text-decoration: none;
}

.logo img {
  margin-right: 20px;
}

.header {
  border-bottom: 2px gray solid;
  margin: 0 40px 0 40px;
}

.img-logo {
  width: 60px;
  margin: 5px;
}

.missions-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

table.missions-table {
  table-layout: fixed;
  width: 80%;
}

table.missions-table td,th {
  border: 1px solid gray;
}

th.mission-description {
  width: 50%;
}

h4.mission-table-heading {
  margin-right: 30px;
}

td h4 {
  font-size: 18px;
}


h4.not-a-member {
  color: white;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 2px;
}

button.join-button {
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 3px;
  padding: 2px;
}

td.mission-status,
.mission-button {
  text-align: center;
}
